.css-1t29gy6-MuiToolbar-root {
    display: -ms-flexbox;
    display: grid;
    grid-template-columns: 0.1fr 1fr 1fr 1fr;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 56px;
}