.comments-margin-top {
    margin-top: 0%;
    margin-left: 12px;
}

.comments-button-right {
    float: right;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.commnets-map-div{
    margin-top: 16px;
    padding-left: 14px; 
    padding-right: 10px;
}

.commnets-map-div-alt{
    margin-top: 16px;
    background-color: #3a3a3a!important;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 14px;
    padding-right: 10px;
}

.comments-likes-span{
    margin-right: 10px;
    margin-left: 5px;
}

.comments-dislikes-span{
    margin-right: 5px;
}

.comments-likes-button{
    margin-right: 5px;
}

.comment-form {
    padding: 8px;
    background-color: #181818;
    width: 98%;
    border-bottom-color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    color: white;
}

.comment-form-button {
    display: flex;
    justify-items: end;
    justify-content: end;
    margin-top: 5px;
}

.comment-like-dislike-div {
    display: grid;
    grid-template-columns: 80% 20%;
    padding-bottom: 16px;
}

.reply-text{
    padding-left: 40px;
    padding-top: 20px;
    overflow-wrap: break-word;
    
}
.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root {
    background-color: #272727!important;
    color: white!important;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
    background-color: #181818!important;
    color: white!important;
}