.comments-margin-top {
    margin-top: 0%;
    margin-left: 12px;
}

.comments-button-right {
    float: right;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.commnets-map-div{
    margin-top: 16px;
    padding-left: 14px; 
}

.commnets-map-div-alt{
    margin-top: 16px;
    background-color: #3a3a3a!important;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 14px;
}

.comments-likes-span{
    margin-right: 10px;
    margin-left: 5px;
}

.comments-dislikes-span{
    margin-right: 5px;
}

.comments-likes-button{
    margin-right: 5px;
}